In [1]:
import pandas as pd
import numpy as np

In [2]:
# needed to merge together driving and transit estimates manually
zip_estimates = pd.read_csv('data-outputs/zip_summary_driving.csv')

In [3]:
surveys = pd.read_excel('panynj/all_years.xlsx',sheetname='data')

In [4]:
surveys.columns

Index(['Year', 'WEIGHT', 'Language', 'TOTAL', 'AIRPORT', 'TERMINAL',
       'CONCOURSE', 'GATE', 'FLIGHTTYPE', 'AirportNovice', 'TerminalNovice',
       'AIRLINE', 'DESTINATION', 'DestinationCountry', 'CheckinLocation',
       'PartySize', 'KidsInParty', 'NumKids', 'GENDER', 'Age', 'AgeGROUPS',
       'HHIncome', 'ODTravelTimeToAirport', 'AirportDwellTimeDepartOD',
       'PostSecChkDwellTimeOD', 'BagsCheckedSinglePass',
       'BagsChecked2PlusPass', 'NumBagsChecked', 'CheckedBagIncidence',
       'TripPurpose', 'TripOriginOD', 'TripOriginLocationOD', 'TOManhattan',
       'TONYC', 'TONY', 'TONJ', 'TOCT', 'TOPA', 'TOOtherUS', 'TOZip',
       'TOTownCity', 'VisitorVsResident', 'NightsVisited', 'NightsAway',
       'ResidentialRegion', 'PrimaryResidentialLocation', 'MAINMODE',
       'SunnyWeather', 'DryWeather', 'WetWeather', 'DryOrWet', 'ZipProvided'],
      dtype='object')

In [5]:
surveys.TOZip[surveys.TOZip!=' '].shape

(11447,)

In [6]:
# label each value of MAINMODE with a category
modes_reported = {'A':'train',
'E':'train',
'J':'train',
'Z':'train',
'LIRR Connecting to JFK AirTrain':'train',
'Other (NYC Subway, including Connection to JFK AirTrain)':'train',
'Airlink New York':'van',
'All County Express':'van',
'Connecticut Limousine':'van',
"Dave's Best Limousine":'van',
'ETS Airport Shuttle':'van',
'Other (Shared-Ride Van/Service)':'van',
'Prime Time Shuttle of Connecticut':'van',
'State Shuttle':'van',
'SuperShuttle from Long Island':'van',
'SuperShuttle from Manhattan':'van',
'Limo/Executive Car/Town Car Service':'limo',
'Chartered/Tour Bus':'bus',
'NYC Airporter Bus from JFK/LaGuardia Airports':'bus',
'NYC Airporter Bus from Manhattan':'bus',
'Public/City Bus (that is, a local bus)':'bus',
'Transbridge Bus':'bus',
'Taxi':'taxi',
'Air Park':'local_van',
'Dollar Airport Parking':'local_van',
'Hilton Hotel':'local_van',
'Holiday Inn FSP':'local_van', 
'Hotel/Motel Shuttle/Van':'local_van',
'JFK Marriott Hotel':'local_van',
'National Airport Parking':'local_van',
'Other (Off-Airport Parking Shuttle/Van)':'local_van',
'Park Plus':'local_van',
'Sky Park/Central Parking':'local_van',
'The Parking Spot JFK/LGA':'local_van',
'U-Save':'local_van',
'Vista Airport Parking':'local_van',
'Drove Your Own Car':'private',
'Passenger in Car Parked at Airport':'private',
'Passenger in Car and Dropped Off at Airport':'private',
'Avis':'rental',
'Budget':'rental',
'Dollar':'rental',
'Enterprise':'rental',
'Hertz':'rental',
'National':'rental',
'Other (Drove Rental Car)':'rental'}

In [7]:
# label each value of MAINMODE with a category
modes_model = {'A':'transit',
'E':'transit',
'J':'transit',
'Z':'transit',
'LIRR Connecting to JFK AirTrain':'transit',
'Other (NYC Subway, including Connection to JFK AirTrain)':'transit',
'Airlink New York':'other',
'All County Express':'other',
'Connecticut Limousine':'other',
"Dave's Best Limousine":'other',
'ETS Airport Shuttle':'other',
'Other (Shared-Ride Van/Service)':'other',
'Prime Time Shuttle of Connecticut':'other',
'State Shuttle':'other',
'SuperShuttle from Long Island':'other',
'SuperShuttle from Manhattan':'other',
'Limo/Executive Car/Town Car Service':'taxi-FHV',
'Chartered/Tour Bus':'other',
'NYC Airporter Bus from JFK/LaGuardia Airports':'other',
'NYC Airporter Bus from Manhattan':'other',
'Public/City Bus (that is, a local bus)':'transit',
'Transbridge Bus':'other',
'Taxi':'taxi-FHV',
'Air Park':'other',
'Dollar Airport Parking':'other',
'Hilton Hotel':'other_free',
'Holiday Inn FSP':'other_free', 
'Hotel/Motel Shuttle/Van':'other_free',
'JFK Marriott Hotel':'other_free',
'National Airport Parking':'other',
'Other (Off-Airport Parking Shuttle/Van)':'other',
'Park Plus':'other',
'Sky Park/Central Parking':'other',
'The Parking Spot JFK/LGA':'other',
'U-Save':'other',
'Vista Airport Parking':'other',
'Drove Your Own Car':'other',
'Passenger in Car Parked at Airport':'other',
'Passenger in Car and Dropped Off at Airport':'other_free',
'Avis':'other',
'Budget':'other',
'Dollar':'other',
'Enterprise':'other',
'Hertz':'other',
'National':'other',
'Other (Drove Rental Car)':'other',
'Alamo':'other',
'AviStar/AviStar Haynes':'other',
'Corporate':'taxi-FHV',
"Don't know":'other',
'Four Points Sheraton Hotel Parking':'other',
'JFK AirTrain':'transit',
'JFK Crowne Plaza':'other_free',
'Metro-North Railroad':'transit',
'Metro-North Railroad Hudson Line Connecting to a Bus/Taxi':'transit',
"Mr. B's Park & Lock":'other',
"NJ Transit or Amtrak Connecting to Newark Liberty Airport AirTrain":'transit',
"NJ Transit or Amtrak Connecting to Shuttle Bus to Newark Liberty Airport":'transit',
"NY Airport Service Bus from Manhattan":'other',
"NY Airport Service Bus to JFK/LaGuardia Airports":'other',
"NYC Airporter Bus to JFK/LaGuardia Airports":'other',
"Newark Liberty Airport Express Bus from Manhattan":'other',
'None/Nothing/NA':'other',
"Olympia Trails":'other',
'On-Airport Terminal Access Shuttle Bus':'other_free',
'Other':'other',
'Other (Please Specify)':'other',
'Other Specify':'other',
'Payless':'other',
'Refused':'other',
'Smart Park':'other',
'SuperShuttle':'other',
'SuperShuttle to Long Island':'other',
'SuperShuttle to Manhattan':'other',
'SuperShuttle to Manhattan/Long Island':'other',
'The Parking Spot Haynes':'other',
'Visconti Ground Transportation':'other',
'Westchester Express':'other'}

In [8]:
# check that all possible MAINMODE values are assigned a grouping
mode_compare = pd.DataFrame(surveys.groupby('MAINMODE').size(),columns=['count'])
mode_compare['2014_reported_mode'] = pd.Series(modes_reported)
mode_compare['MNL_model_mode'] = pd.Series(modes_model)
mode_codes = {'taxi-FHV':1,'transit':2,'other':3,'other_free':4}
mode_compare = mode_compare.merge(pd.DataFrame.from_dict(mode_codes,orient='index').rename(columns={0:'CHOICE'}),left_on='MNL_model_mode',right_index=True)
mode_compare

,count,2014_reported_mode,MNL_model_mode,CHOICE
MAINMODE,,,,
A,359,train,transit,2
E,419,train,transit,2
J,34,train,transit,2
JFK AirTrain,1,NaN,transit,2
LIRR Connecting to JFK AirTrain,509,train,transit,2
Metro-North Railroad,1,NaN,transit,2
Metro-North Railroad Hudson Line Connecting to a Bus/Taxi,2,NaN,transit,2
NJ Transit or Amtrak Connecting to Newark Liberty Airport AirTrain,506,NaN,transit,2
NJ Transit or Amtrak Connecting to Shuttle Bus to Newark Liberty Airport,78,NaN,transit,2
"Other (NYC Subway, including Connection to JFK AirTrain)",10,train,transit,2
"Public/City Bus (that is, a local bus)",561,bus,transit,2
Z,4,train,transit,2
Air Park,31,local_van,other,3
Airlink New York,172,van,other,3
Alamo,6,NaN,other,3
All County Express,11,van,other,3
AviStar/AviStar Haynes,10,NaN,other,3
Avis,251,rental,other,3
Budget,148,rental,other,3
Chartered/Tour Bus,170,bus,other,3
Connecticut Limousine,30,van,other,3
Dave's Best Limousine,17,van,other,3
Dollar,89,rental,other,3
Dollar Airport Parking,12,local_van,other,3
Don't know,3,NaN,other,3
Drove Your Own Car,1764,private,other,3
ETS Airport Shuttle,46,van,other,3
Enterprise,190,rental,other,3
Four Points Sheraton Hotel Parking,3,NaN,other,3
Hertz,321,rental,other,3
...,...,...,...,...
Passenger in Car Parked at Airport,433,private,other,3
Payless,6,NaN,other,3
Prime Time Shuttle of Connecticut,12,van,other,3
Refused,1,NaN,other,3
Sky Park/Central Parking,5,local_van,other,3
Smart Park,2,NaN,other,3
State Shuttle,70,van,other,3
SuperShuttle,73,NaN,other,3
SuperShuttle from Long Island,16,van,other,3
SuperShuttle from Manhattan,178,van,other,3
SuperShuttle to Long Island,2,NaN,other,3
SuperShuttle to Manhattan,85,NaN,other,3
SuperShuttle to Manhattan/Long Island,94,NaN,other,3
The Parking Spot Haynes,2,NaN,other,3
The Parking Spot JFK/LGA,6,local_van,other,3
Transbridge Bus,24,bus,other,3
U-Save,5,local_van,other,3
Visconti Ground Transportation,1,NaN,other,3
Vista Airport Parking,10,local_van,other,3
Westchester Express,13,NaN,other,3
Corporate,15,NaN,taxi-FHV,1
Limo/Executive Car/Town Car Service,2736,limo,taxi-FHV,1
Taxi,6691,taxi,taxi-FHV,1
Hilton Hotel,53,local_van,other_free,4
Holiday Inn FSP,18,local_van,other_free,4
Hotel/Motel Shuttle/Van,440,local_van,other_free,4
JFK Crowne Plaza,8,NaN,other_free,4
JFK Marriott Hotel,10,local_van,other_free,4
On-Airport Terminal Access Shuttle Bus,1,NaN,other_free,4
Passenger in Car and Dropped Off at Airport,7304,private,other_free,4

In [12]:
# extract only useful survey data
df = surveys.query('AIRPORT=="JFK"')
df = df[['TOZip','MAINMODE','FLIGHTTYPE']]
# also convert zip
df['zipcode'] = pd.to_numeric(df['TOZip'],errors='coerce')

In [13]:
df.groupby('FLIGHTTYPE').size()

FLIGHTTYPE
Domestic         4870
International    7076
dtype: int64

In [17]:
df['INTL'] = pd.get_dummies(df['FLIGHTTYPE'])['International']

In [19]:
joined = df.dropna(how='any',subset=['zipcode']).merge(zip_estimates,on='zipcode',how='inner')

In [20]:
joined = joined.merge(mode_compare,left_on='MAINMODE',right_index=True)

In [21]:
joined['taxi_mean_duration'] = np.divide(joined['taxi_mean_duration'],60)
joined['transit_duration'] = np.divide(joined['transit_duration'],60)
joined['duration_in_traffic'] = np.divide(joined['duration_in_traffic'],60)
joined['driving_duration'] = np.divide(joined['driving_duration'],60)

In [22]:
joined.head()

,TOZip,MAINMODE,FLIGHTTYPE,zipcode,INTL,taxi_mean_pickup_longitude,taxi_mean_pickup_latitude,taxi_mean_trip_distance,taxi_mean_duration,taxi_mean_total_ex_tip,...,taxi_N,route,driving_distance,duration_in_traffic,driving_duration,transit_duration,count,2014_reported_mode,MNL_model_mode,CHOICE
0,10019,Limo/Executive Car/Town Car Service,Domestic,10019,0,-73.981769,40.763671,17.908526,47.879023,56.067815,...,33816,I-495 E and I-678 S,18.362756,49.866667,43.016667,58.083333,2736,limo,taxi-FHV,1
9,10019,Limo/Executive Car/Town Car Service,International,10019,1,-73.981769,40.763671,17.908526,47.879023,56.067815,...,33816,I-495 E and I-678 S,18.362756,49.866667,43.016667,58.083333,2736,limo,taxi-FHV,1
10,10019,Limo/Executive Car/Town Car Service,International,10019,1,-73.981769,40.763671,17.908526,47.879023,56.067815,...,33816,I-495 E and I-678 S,18.362756,49.866667,43.016667,58.083333,2736,limo,taxi-FHV,1
13,10019,Limo/Executive Car/Town Car Service,International,10019,1,-73.981769,40.763671,17.908526,47.879023,56.067815,...,33816,I-495 E and I-678 S,18.362756,49.866667,43.016667,58.083333,2736,limo,taxi-FHV,1
23,10019,Limo/Executive Car/Town Car Service,Domestic,10019,0,-73.981769,40.763671,17.908526,47.879023,56.067815,...,33816,I-495 E and I-678 S,18.362756,49.866667,43.016667,58.083333,2736,limo,taxi-FHV,1

In [23]:
biogeme_data = joined.loc[:,['CHOICE','taxi_mean_duration','taxi_mean_total_w_inferred_tip','transit_duration','INTL']].reset_index(drop=True)
biogeme_data['TRANSIT_COST'] = 7.75
biogeme_data['FREE_COST'] = 0

In [24]:
biogeme_data['av1'],biogeme_data['av2'],biogeme_data['av3'] = 1,1,1
biogeme_data['av4'] = 0
biogeme_data.loc[biogeme_data['CHOICE']==4,'av4'] = 1

In [25]:
biogeme_data.rename(columns={'taxi_mean_duration':'TAXI_TT','taxi_mean_total_w_inferred_tip':'TAXI_COST','transit_duration':'TRANSIT_TT'},inplace=True)

In [26]:
biogeme_data

,CHOICE,TAXI_TT,TAXI_COST,TRANSIT_TT,INTL,TRANSIT_COST,FREE_COST,av1,av2,av3,av4
0,1,47.879023,66.695924,58.083333,0,7.75,0,1,1,1,0
1,1,47.879023,66.695924,58.083333,1,7.75,0,1,1,1,0
2,1,47.879023,66.695924,58.083333,1,7.75,0,1,1,1,0
3,1,47.879023,66.695924,58.083333,1,7.75,0,1,1,1,0
4,1,47.879023,66.695924,58.083333,0,7.75,0,1,1,1,0
5,1,47.879023,66.695924,58.083333,1,7.75,0,1,1,1,0
6,1,47.879023,66.695924,58.083333,0,7.75,0,1,1,1,0
7,1,9.979688,44.238117,31.466667,0,7.75,0,1,1,1,0
8,1,35.056290,68.523287,72.216667,1,7.75,0,1,1,1,0
9,1,35.056290,68.523287,72.216667,0,7.75,0,1,1,1,0
10,1,35.056290,68.523287,72.216667,0,7.75,0,1,1,1,0
11,1,28.719048,46.052326,64.050000,0,7.75,0,1,1,1,0
12,1,47.491122,67.825378,60.833333,0,7.75,0,1,1,1,0
13,1,47.491122,67.825378,60.833333,1,7.75,0,1,1,1,0
14,1,47.491122,67.825378,60.833333,1,7.75,0,1,1,1,0
15,1,47.491122,67.825378,60.833333,0,7.75,0,1,1,1,0
16,1,47.491122,67.825378,60.833333,0,7.75,0,1,1,1,0
17,1,47.491122,67.825378,60.833333,0,7.75,0,1,1,1,0
18,1,47.491122,67.825378,60.833333,0,7.75,0,1,1,1,0
19,1,35.336667,61.669071,55.016667,0,7.75,0,1,1,1,0
20,1,35.336667,61.669071,55.016667,1,7.75,0,1,1,1,0
21,1,35.336667,61.669071,55.016667,0,7.75,0,1,1,1,0
22,1,40.187864,68.178918,62.233333,1,7.75,0,1,1,1,0
23,1,40.187864,68.178918,62.233333,1,7.75,0,1,1,1,0
24,1,48.205605,67.065552,74.533333,1,7.75,0,1,1,1,0
25,1,45.334993,63.905477,72.516667,1,7.75,0,1,1,1,0
26,1,45.334993,63.905477,72.516667,1,7.75,0,1,1,1,0
27,1,45.334993,63.905477,72.516667,1,7.75,0,1,1,1,0
28,1,45.334993,63.905477,72.516667,0,7.75,0,1,1,1,0
29,1,26.372757,42.945172,65.533333,1,7.75,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1566,3,42.605425,68.481651,76.600000,1,7.75,0,1,1,1,0
1567,3,22.669048,42.852132,93.116667,0,7.75,0,1,1,1,0
1568,3,38.904598,68.508497,79.633333,1,7.75,0,1,1,1,0
1569,3,46.912685,68.042055,65.050000,1,7.75,0,1,1,1,0
1570,3,39.876030,68.494604,74.750000,1,7.75,0,1,1,1,0
1571,3,39.876030,68.494604,74.750000,1,7.75,0,1,1,1,0
1572,3,39.876030,68.494604,74.750000,1,7.75,0,1,1,1,0
1573,3,39.876030,68.494604,74.750000,1,7.75,0,1,1,1,0
1574,3,38.810000,72.996044,99.766667,1,7.75,0,1,1,1,0
1575,2,46.380616,68.280616,50.016667,1,7.75,0,1,1,1,0
1576,2,40.128275,65.826882,78.900000,0,7.75,0,1,1,1,0
1577,2,19.215686,39.231976,42.433333,1,7.75,0,1,1,1,0
1578,2,37.247024,68.792145,89.016667,0,7.75,0,1,1,1,0
1579,3,33.584752,52.901168,66.500000,1,7.75,0,1,1,1,0
1580,3,39.779015,63.261199,72.583333,1,7.75,0,1,1,1,0
1581,3,22.669048,42.852132,93.116667,0,7.75,0,1,1,1,0
1582,3,38.904598,68.508497,79.633333,1,7.75,0,1,1,1,0
1583,3,39.779015,63.261199,72.583333,0,7.75,0,1,1,1,0
1584,3,17.108497,29.050642,38.316667,1,7.75,0,1,1,1,0
1585,3,32.788889,77.912091,93.583333,0,7.75,0,1,1,1,0
1586,3,36.641667,68.894957,78.700000,1,7.75,0,1,1,1,0
1587,3,37.198098,54.921871,51.083333,0,7.75,0,1,1,1,0
1588,3,12.870833,23.642467,61.183333,1,7.75,0,1,1,1,0
1589,3,36.833021,68.282224,69.766667,0,7.75,0,1,1,1,0
1590,3,26.597222,65.316653,90.983333,0,7.75,0,1,1,1,0
1591,3,25.558333,52.883471,43.866667,1,7.75,0,1,1,1,0
1592,4,28.684559,48.724825,69.833333,0,7.75,0,1,1,1,1
1593,4,12.870833,23.642467,61.183333,0,7.75,0,1,1,1,1
1594,4,22.669048,42.852132,93.116667,1,7.75,0,1,1,1,1
1595,3,19.288889,36.281522,59.116667,1,7.75,0,1,1,1,0

In [29]:
biogeme_data['TRANSIT_TT'] = biogeme_data['TRANSIT_TT'].fillna(999.99)
biogeme_data.to_csv('models-data/data_27jun.dat',sep='\t',index_label='ID')