In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2014 TxT CSS O-D Dep SPSS Database_NYU w vars.csv')

In [3]:
jfk_tot = df.query('AIRPORT=="JFK"').WEIGHT.sum()

In [4]:
jfk_splits = df.query('AIRPORT=="JFK"').groupby('MAINMODE')['WEIGHT'].sum()/jfk_tot

In [6]:
modegroups = {'A':'train',
'E':'train',
'J':'train',
'Z':'train',
'LIRR Connecting to JFK AirTrain':'train',
'Other (NYC Subway, including Connection to JFK AirTrain)':'train',
'Airlink New York':'van',
'All County Express':'van',
'Connecticut Limousine':'van',
"Dave's Best Limousine":'van',
'ETS Airport Shuttle':'van',
'Other (Shared-Ride Van/Service)':'van',
'Prime Time Shuttle of Connecticut':'van',
'State Shuttle':'van',
'SuperShuttle from Long Island':'van',
'SuperShuttle from Manhattan':'van',
'Limo/Executive Car/Town Car Service':'limo',
'Chartered/Tour Bus':'bus',
'NYC Airporter Bus from JFK/LaGuardia Airports':'bus',
'NYC Airporter Bus from Manhattan':'bus',
'Public/City Bus (that is, a local bus)':'bus',
'Transbridge Bus':'bus',
'Taxi':'taxi',
# these categories are still not matched
    'Air Park':'local_van',
    'Dollar Airport Parking':'local_van',
    'Hilton Hotel':'local_van',
    'Holiday Inn FSP':'local_van', 
    'Hotel/Motel Shuttle/Van':'local_van',
    'JFK Marriott Hotel':'local_van',
    'National Airport Parking':'local_van',
    'Other (Off-Airport Parking Shuttle/Van)':'local_van',
    'Park Plus':'local_van',
    'Sky Park/Central Parking':'local_van',
    'The Parking Spot JFK/LGA':'local_van',
    'U-Save':'local_van',
    'Vista Airport Parking':'local_van',
    'Drove Your Own Car':'private',
    'Passenger in Car Parked at Airport':'private',
    'Passenger in Car and Dropped Off at Airport':'private',
    'Avis':'rental',
    'Budget':'rental',
    'Dollar':'rental',
    'Enterprise':'rental',
    'Hertz':'rental',
    'National':'rental',
    'Other (Drove Rental Car)':'rental'}

In [7]:
pd.DataFrame.from_dict(modegroups,orient='index').join(jfk_splits).groupby(0).sum()

             WEIGHT
0
bus        0.052655
limo       0.124610
local_van  0.030200
private    0.309572
rental     0.026468
taxi       0.285860
train      0.112113
van        0.052120